/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #1e4c1d;
    background-color: #323232;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/*Class for making objects centered*/
.center{
    margin: auto;
    text-align: center;
    width: 55%;
    border: 3px solid #000303;
    padding: 10px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tab_content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab links*/
.tab_links {
    color: #0ba309;
    font-family: Calibri;
}

body{
    font-family: Calibri;
}

footer{
    font-family: Calibri;
}